*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Urbanist", sans-serif;
}
a{
    text-decoration:none;
}
ul,ol,dl{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 1.4;
}

.container{
   
   height: 100vh;
    width: 100%;
    text-align: center;
    padding-top:9%;
}


.textinput{
    display: flex;
    flex-direction: column;
}
.label{
    margin-bottom:25px;
}
.label label{
    font-size: 20px;
    font-weight: 700;
    color:#CD3C04 ;
    
}
.input{
    margin-bottom: 10px;

}
.input input{
    padding: 15px 90px;
    border-radius: 15px;
    outline: none;
    border: none;
    border: 1PX solid #CD3C04;
    background-color: rgba(252, 152, 112, 0.31);
}
.input input::placeholder{
    font-size:14px ;
    font-weight: 400;
    color: #CD3C04 ;
}
.pass{
    margin-bottom: 20PX;
}
.pass input{
    border-radius: 15px;
    outline: none;
    border: none;
      padding: 15px 90px;
    background-color: rgba(252, 152, 112, 0.31);
    text-align: center;
       border: 1PX solid #CD3C04;
}
.pass input::placeholder{
    font-size:14px ;
    font-weight: 400;
    color: #CD3C04 ;
}
.btnone button a{
    font-size:18px ;
    font-weight: 600;
    color: #CD3C04 ;
}
.btnone button{
    padding: 15px 90px;
    background-color: rgba(252, 152, 112, 1);
    text-align: center;
       
       padding: 15px 145px;
       border-radius: 25px;
       outline: none;
       border: none;
}
.btn2 button{
   padding: 15px 90px;
     background: none;
    text-align: center;
       
       padding: 15px 86px;
       border-radius: 25px;
       outline: none;
       border: none;
       margin-top: 20px;
       
}
.btn2 button a{
  font-size:18px ;
       font-weight: 400;
       color:#CD3C04;
}
.btn3 button{
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 15px 90px;
    background-color: rgba(252, 152, 112, 0.61);
    text-align: center;
     border: 1PX solid #CD3C04;
     margin-bottom: 20px;
     margin-top: 35px;
}
.btn3 button a{
    font-size:18px ;
       font-weight: 400;
       color:#CD3C04;
}
